*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: #fff;
  font-family: 'Avenir Next', 'Helvetica Neue', Helvetica, sans-serif;
  color:#222;
  text-rendering: optimizeLegibility;
  font-weight: normal;
}

p {
  font-weight: 400;
  line-height: 30px;
}

a {
  text-decoration: none;
  border-bottom: 2px solid #EEE;
  color: #333;
}

a:hover {
  border-color:#333;
}

/*http://www.adamkaplan.me/grid/*/

.container {
  margin: 30px auto;
  max-width: 960px;
  width: 90%;
}

.column {
  float: left;
  margin-left: 3%;
}

.column:first-child {
  margin-left: 0;
}

.column.full {
  width: 100%;
}

.column.one-third {
  width: 30%;
}

.column.two-thirds {
  width: 60%;
}

.column.half {
  width: 47.5%;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

.row {
  overflow: hidden;
}

@media screen and (max-width: 1051px) {
  .column.full,
  .column.half,
  .column.one-third,
  .column.two-thirds
  {
    float: none;
    margin: 0;
    width: 100%;
    text-align: left;
  }
}
/*-------------------*/

h1 {
  font-size: 30px;
  line-height: 28px;
  color:#333;
  font-weight: 400;
}

h2 {
  font-size: 25px;
  font-weight: 400;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 12px;
  font-weight: 400;
}

#name img {
  float: left;
}

#name h1 {
  position: relative;
  top:3px;
  left: 10px;
}

.profiles {
  font-size: 24px;
  padding-top: 16px;
  float:right;
  margin: 0px;
  text-align: right;
}

.profiles a {
  text-decoration: none;
  border-bottom: none;
  color: #D8D8D8;
  display: inline-block;
}

.profiles a:hover {
  text-decoration: none;
  border-bottom: none;
  color: #333;
}

.hello {
  padding-bottom: 50px;
  line-height:40px;
}

.year {
  font-size: 30px;
  font-weight: 500;
  color:#D8D8D8;
  margin:25px 0 10px;
}

.project.blurb {
  text-align: justify;
}

.project.more {

}

.center {
  text-align:center;
}
