body {
  color: #fff;
  position: relative;
  background-color: #000;
  background-color: rgba(51, 69, 152, 0.1);
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  background-image: url('../images/bg.jpg');
  background-size: cover;
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  body {
    background-image: url('../images/bg@2x.jpg');
    background-size: 1400px 934px;
  }
}

h1 {
  font-family: 'Vollkorn', serif;
  font-size: 24px;
  line-height: 28px;
}

h4 {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 400;
}

.profiles {
  font-size: 34px;
  margin: 0px;
  color: #fff;
}

.profiles a {
  text-decoration: none;
  color: #fff;
}